<%= form_with model: post do |form| %>
  <p>
    <b>New post</b><br>
    <%= form.label :title %>
    <%= form.text_field :title, class: "mt-1", :required => true %> <br>
    <%= form.label :content %>
    <%= form.text_area :content, class: "mt-1", :required => true %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
