<h1> <%= @post.title %>, by <%= @post.user.username %> </h1>

<div>
  <%= simple_format(@post.content) %> <br>
  <%= link_to "comment", new_comment_path(post_id: @post.id) %>
</div>

<h2> Comments </h2>

<div>
  <%= render partial: "comment", locals: {comment: nil, comment_list: @comments} %>
</div>
